<html>
<head>
<title>Login</title>
    <link rel="stylesheet" href="static/page.css">
</head>
<body>
    <center> <h1> Employee Login  </h1> </center><br><br>
    <form action="" method="POST">
        
            <label>Name: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</label>
            <input type="text" placeholder="Enter Name" name="a" id="+" required><br>
            <label>UID: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </label>
            <input type="text" placeholder="Enter User ID" name="b" id="-" required><br>
            <label>Company Name:&nbsp  </label>
            <input type="text" placeholder="Enter Company Name" name="c" id="*" required><br>
            <label>Email: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </label>
            <input type="text" placeholder="Enter Email" name="d" id="/" required><br><br>

            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <button class="bt" type="submit">Submit</button>
               
      
        
        
    </form>
</body>
</html>